@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fodbold Turnering</h1>
    <p class="lead">Hold styr på dine fodbold turneringer her! Opret turneringer, tilmeld hold og lad os udregne kampprogrammet for dig.</p>
    <p>
        @Html.ActionLink("OPRET TURNERING", "Create", "Turnering", null, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hold</h2>
        <p>
            Se, hvilke hold er tilmeldt en turnering eller tilmeld et nyt.
        </p>
        <p>
            @Html.ActionLink("HOLD", "Index", "Hold", null, new { @class= "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kampe</h2>
        <p>Se resultaterne af de enkelte kampe og indberet nye resultater.</p>
        <p>
            @Html.ActionLink("KAMPE", "Index", "Kamp", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kampprogram / Stilling</h2>
        <p>Se kampprogrammet, de enkelte runder og stillingen!</p>
        <p>
            @Html.ActionLink("KAMPPROGRAM", "Index", "Runde", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>