@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FODBOLD TURNERING</h1>
    <p class="lead">
        Hold styr på dine fodbold turneringer her! <br /> 
        Opret turneringer, tilmeld hold og lad os udregne kampprogrammet for dig.
    </p>
    <p>
        @Html.ActionLink("NY TURNERING", "Create", "Turnering", null, new { @class = "btn btn-primary" })
    </p>
</div>

<div class="features">
    <div class="feature">
        <h2>Hold</h2>
        <p>
            Se, hvilke hold er tilmeldt en turnering eller tilmeld et nyt.
        </p>
        <p>
            @Html.ActionLink("HOLD", "Index", "Hold", null, new { @class= "btn btn-primary" })
        </p>
    </div>
    <div class="feature">
        <h2>Kampprogram</h2>
        <p>Se kampprogrammet for en turnering!</p>
        <p>
            @Html.ActionLink("KAMPPROGRAM", "Kampprogram", "Turnering", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="feature">
        <h2>Stilling</h2>
        <p>Se stillingen i en turnering.</p>
        <p>
            @Html.ActionLink("STILLING", "Stilling", "Turnering", null, new { @class = "btn btn-primary" })
        </p>
    </div>
</div>