@model IEnumerable<FT.Entities.Models.Hold>

@{
    ViewBag.Title = "Index";
}


<div id="holdIndexListe">
    @foreach (var item in Model)
    {
        <a id="hold" href='@(Url.Action("Details", "Hold", new { id = item.HoldId }))'>
            <i class="far fa-futbol"></i>
            @Html.DisplayFor(modelItem => item.Navn)
        </a>
    }
</div>

<br /><br />
<a class="btn btn-primary" href="@Url.Action("Create")">
    <i class="fas fa-plus"></i>
    Nyt Hold
</a>
