@model IEnumerable<FT.Entities.Models.Turnering>

@{
    ViewBag.Title = "Index";
}



<div id="turneringsIndexListe">
    @foreach (var item in Model)
    {
        <a id="turnering" href='@(Url.Action("Details", "Turnering", new { id = item.TurneringId }))'>
            <i class="far fa-futbol"></i>
            @Html.DisplayFor(modelItem => item.Navn)
        </a>
    }
</div>

<br /><br />
<p>
    @Html.ActionLink("Ny Turnering", "Create", null, new { @class = "btn btn-primary" })
</p>
