@model IEnumerable<FT.Entities.Models.Turnering>

@{
    ViewBag.Title = "Index";
}



<div id="turneringsIndexListe">
    @foreach (var item in Model)
    {
        <a id="turnering" href='@(Url.Action("Details", "Turnering", new { id = item.TurneringId }))'>
            <i class="far fa-futbol"></i>
            @Html.DisplayFor(modelItem => item.Navn)
        </a>
    }
</div>

<br /><br />

<div class="text-center">
    <a class="btn btn-primary" href="@Url.Action("Create")">
        <i class="fas fa-plus"></i>
        Ny Turnering
    </a>
</div>

@*
    <p>
        @Html.ActionLink("Ny Turnering", "Create", null, new { @class = "btn btn-primary" })
    </p>
*@