body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div .navbar-header .navbar-brand {
    font-size: 2.5rem;
}

#turneringsIndexListe, 
#holdIndexListe {
    /*background-color: seagreen;*/
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
}

#turnering, 
#hold {
    margin: 5px;
    padding: 1rem;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    width: 350px;
}

#ikkeTilmeldteHoldListe {
    /*background-color: seagreen;*/
    /*margin-top: 4rem;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
}

#ikkeTilmeldtHold {
    margin: 5px;
    padding: 1rem;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    width: 250px;
}

#buttonStartTurnering {
    padding: 20px;
    font-weight: 700;
    color: #A8DB92;
    background-color: #2D6E12;
    text-decoration: none;
}

    #buttonStartTurnering:hover {
        padding: 20px;
        font-weight: 700;
        background-color: #164900;
        color: #A8DB92;
        text-decoration: none;
    }