body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div .navbar-header .navbar-brand {
    font-size: 2.5rem;
}

#footer {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

p {
    font-size: 20px;
}

#turneringsIndexListe, 
#holdIndexListe {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
}

#turnering, 
#hold {
    margin: 5px;
    padding: 1rem;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    width: 350px;
}

#ikkeTilmeldteHoldListe {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
}

#ikkeTilmeldtHold {
    margin: 5px;
    padding: 1rem;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    width: 250px;
}

#turneringsDetaljer, 
#ikkeTilmeldteHoldListe,
#tilmeldteHoldListe,
#holdDetaljer {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 20px;
}

#buttonRetTurnering,
#buttonRetHold {
    padding: 5px 10px;
    margin-left: 5px;
    color: white;
    background-color: #2D6E12;
    text-decoration: none;
}

#buttonStartTurnering {
    padding: 20px;
    font-weight: 700;
    color: #A8DB92;
    background-color: #2D6E12;
    text-decoration: none;
}

    #buttonStartTurnering:hover {
        padding: 20px;
        font-weight: 700;
        background-color: #164900;
        color: #A8DB92;
        text-decoration: none;
    }


.tilmeldteHoldListe,
#listeHoldTilmeldtTilTurneringer  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-row-gap: 30px;
    justify-items: center;
}

.tilmeldtHold,
#tilmeldtTurnering {
    margin: 5px;
    padding: 1rem;
    border: 2px solid black;
    color: black;
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    width: 250px;
}

h2,
h3 {
    text-align: center;
}

#hjemmeHold,
#udeHold {
    display: inline-block;
    margin: 5px;
    width: 150px;
}

#udeHold {
    text-align: left;
}

#hjemmeHold {
    text-align: right;
}

#listeKampe {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    width: 50%;
    margin: 15px auto;
    border-top: 1px solid black;
}

#listeKampe input {
    width: 40px;
    text-align: center;
    padding: 0;
    width: 30px;
}
